<% provide(:page_title, t("New")) %>
<% breadcrumb_add(t("model.Products"), products_path) %>
<div class="row-fluid">
  <div class = "widget widget-padding span12">
    <div class = "widget-header"><i class = "icon-truck"></i><h5><%= t("model.Product") %></h5></div>
      
        <%= render 'product_form' %>
  </div>
  </div>
</div>