*.rbc
capybara-*.html
.rspec
/log
/tmp
/tmp/test.log
/tmp/development.log
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
/public/uploads/tmp

## Environment normalisation:
/.bundle
/vendor/bundle
