var model_name = "<%= params[:model_name] -%>";
var new_model = "<%= @model.name.demodulize.underscore -%>";
var row = '<label class="checkbox"><input checked="checked" id="' + model_name + '_' + new_model + '_ids_" name="' + model_name + '[' + new_model + '_ids][]" type="checkbox" value="<%= @resource_instance.id %>"><%= @resource_instance.name %></label>';
$("#" + new_model + "-relation").append(row);
$("#remote-form-modal").modal('toggle');
