<header>
  <h1>
    <a href="{{site.url}}">
      Adminpanel
    </a>
  </h1>
  <p>Administration panel with nice defaults and flexible customizations, supporting facebook, twitter, instagram and google analytics API, developed with the goal of generating your dynamic site very quickly</p>

  <p class="view"><a href="https://github.com/codn/adminpanel">View the Project on GitHub <small>codn/adminpanel</small></a></p>

  <ul class="downloads">
    <li><a href="https://github.com/codn/adminpanel/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/codn/adminpanel/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="https://github.com/codn/adminpanel">View On <strong>GitHub</strong></a></li>
  </ul>
  <h3>Modules</h3>
  <h3>Concerns</h3>
  {% for post in site.categories['concern'] %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}

  <h3>Generators</h3>
  {% for post in site.categories['generator'] %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</header>
