<header>
  <h1>Adminpanel</h1>
  <p>Administration panel with nice defaults and flexible customizations, supporting facebook, twitter, instagram and google analytics API, developed with the goal of generating your dynamic site very quickly</p>

  <p class="view"><a href="https://github.com/codn/adminpanel">View the Project on GitHub <small>codn/adminpanel</small></a></p>


  <ul>
    <li><a href="https://github.com/codn/adminpanel/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/codn/adminpanel/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="https://github.com/codn/adminpanel">View On <strong>GitHub</strong></a></li>
  </ul>
</header>
