header h3 {
  margin-bottom: 0px;
}

header ul.features {
  list-style: none;
  padding-left: 15px;
}

header ul.features li {
  width: 100%;
}

header ul.features li.active a {
  color: #281C51;
}

header ul.features li::before {
  content: " ";
  width: 17px;
  position: absolute;
  height: 14px;
  left: -4px;
  margin-top: 4px;
  background-image: url(../images/bullet.svg);
  background-size: cover;
  background-position: center;
}

a:hover {
  text-decoration: underline;
}
