header h3 {
  margin-bottom: 0px;
}

header ul.features {
  list-style: none;
  padding-left: 15px;
}

header ul.features li {
  width: 100%;
}

header ul.features li.active a {
  color: #281C51;
}

header ul.features li::before {
  content: url(../images/bullet.svg);
}

a:hover {
  text-decoration: underline;
}
