<% if object.errors.any? %>
	<div id="error_explanation">
		<div id="alerts" class="alert alert-error">
			<%= t( :errors, :count => object.errors.count, :model => t("model.#{object.class.model_name}")) %>:
			<ul>
			<% object.errors.messages.keys.each do |field| %>
				<% object.errors.messages[field].each do |value| %>
				 <li>
				 	<%= t("model.attributes.#{field}") %>
				 	<%= value %>
				 </li>
				<% end %>
			<% end %>
			</ul>
		</div>
	</div>
<% end %>
