<% provide(:page_title, @user.name.humanize) %>
<% breadcrumb_add('Usuarios', users_path) %>

<div class="row-fluid">
	<div class="widget widget-padding span12">
		<div class="widget-header">
			<i class="icon-user"></i>
			<h5><%= @user.name.humanize %>&nbsp;
				<%= link_to content_tag(:i, nil, :class => 'icon-pencil'), edit_user_path(@user), :title => "Editar Usuario" %>
			</h5>
		</div>
		<div class="widget-body row-fluid">
			<div class="span1">
				<b>Correo Electrónico</b>
			</div>
			<div class="span11">
				<%= @user.email %>
			</div>
		</div>
	</div>
</div>