<% provide(:page_title, @category.name) %>
<% breadcrumb_add('Categorias', products_path) %>
<div class="row-fluid">
  <div class = "widget widget-padding span12">
    <div class = "widget-header"><i class = "icon-truck"></i><h5>Categoría</h5></div>
    <div class = "widget-body">
      <div class = "widget-forms clearfix">
        <%= custom_form_for(@category, :url => category_path(@category), :html => {:class => "form-horizontal"}) do |f| %>
          <%= render 'shared/error_messages', :object => @category %>
          <%= f.text_field :name, :label => "Nombre", :placeholder => "Nombre de la categoria" %>
      </div>
    </div>
    <div class = "widget-footer">
      <%= f.submit "Agregar", :disable_with => 'Submiting...' %>
    </div>
      <% end -%>
  </div>
</div>