<% provide(:page_title, 'Analytics') -%>

<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <%= render 'header' %>
    </div>
    <%= content_tag :div, class: "widget-body", data: { visits: @visits } do %>
      Bienvenido al Centro de Estadísticas del Sitio, para verlas haga click en alguno de los botones de arriba
    <% end %>
  </div>
</div>
