<% provide(:page_title, 'Google Analytics') -%>
<% content_for :scripts do %>
  <%#= javascript_include_tag "adminpanel/analytics/analytics" %>
<% end %>
<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <%= render 'header' %>
    </div>
    <%= content_tag "div", :id => "graphic-container", :class => "widget-body", :data => { :visits => @visits, :dates => @visitDates } do %>
    <% end %>
  </div>
</div>
