<!-- Side menu -->
<div class="sidebar-nav nav-collapse collapse" id="sidebar-navigation">
	<div class="user_side clearfix">
		<h5>
			<%= @current_user.name.humanize %>
		</h5>
		<%=
		link_to(
			content_tag(:i, nil, :class => 'icon-cog') + ' Editar',
			edit_user_path(@current_user)
		)
		%>
	</div>
	<div class="accordion" id="accordion2">
		<% Adminpanel.displayable_resources.each do |resource| %>
			<% resource_class = symbol_class(resource) %>
			<div class="accordion-group">
				<div class="accordion-heading">
					<%=
					link_to(
						content_tag(
							:i,
							nil,
							:class => resource_class.display_icon) +
							content_tag(:span," #{resource_class.display_name}"),
						[route_symbol(resource.to_s)],
						:class => "accordion-toggle b_99FFCC
							#{is_current_section?(resource_class.display_name)}"
					)
					%>
				</div>
			</div>
		<% end %>

	</div>
</div>
<!-- /Side menu -->
