<!-- Side menu -->
<div class="sidebar-nav nav-collapse collapse">
	<% if signed_in? %>
		<div class="user_side clearfix">
				<h5><%#= @current_user.name.humanize %></h5>
				<%#= link_to (content_tag(:i, nil, :class => 'icon-cog') + ' Editar'), edit_user_path(@current_user) %>
		</div>
	<% end %>
	<div class="accordion" id="accordion2">
		<% #if can? :index, Product %>
			<div class="accordion-group">
				<div class="accordion-heading">
					<%= link_to content_tag(:i, nil, :class => 'icon-truck') + content_tag(:span, ' Productos'), products_path, :class => "accordion-toggle b_F79999 #{is_current_section?('products')}"  %>
				</div>
			</div>
		<% #end %>
		<% #if can? :index, User %>
			<div class="accordion-group">
				<div class="accordion-heading">
					<%= link_to content_tag(:i, nil, :class => 'icon-user') + content_tag(:span, ' Usuarios'), users_path, :class => "accordion-toggle b_9FDDF6 #{is_current_section?('users')}"  %>
				</div>
			</div>
		<% #end %>
		<% #if can? :index, Gallery %>
			<div class="accordion-group">
				<div class="accordion-heading">
					<%#= link_to content_tag(:i, nil, :class => 'icon-picture') + content_tag(:span, " #{t(Gallery)}"), galleries_path, :class => "accordion-toggle b_C3F7A7 #{is_current_section?('galleries')}"  %>
				</div>
			</div>
		<% #end %>
		<% #if can? :index, Section %>
			<div class="accordion-group">
				<div class="accordion-heading">
					<%= link_to content_tag(:i, nil, :class => 'icon-tasks') + content_tag(:span, ' Secciones'), sections_path, :class => "accordion-toggle b_F6F1A2 #{is_current_section?('sections')}"  %>
				</div>
			</div>
		<% #end %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<%= link_to content_tag(:i, nil, :class => 'icon-bookmark') + content_tag(:span, ' Categorias'), categories_path, :class => "accordion-toggle b_F79999 #{is_current_section?('products')}"  %>
			</div>
		</div>
	</div>
</div>
<!-- /Side menu -->