<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="logo">
        <%= link_to image_tag("adminpanel/codn.png", alt: "logo"), main_root_path, target: '_blank' %>
      </div>
      <% if signed_in? %>
         <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
         <a class="btn btn-navbar slide_menu_left visible-tablet">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      <% end %>

      <div class="top-menu visible-desktop">
        <ul class="pull-right">
          <li>
            <% if signed_in? %>
              <%=
              link_to(
                content_tag(
                  'i',
                  nil,
                  class: 'fa fa-power-off'
                  ) + " #{I18n.t('authentication.logout')}",
                signout_path,
                method: :delete,
                escape: true,
                id: 'signout-button'
              )
              %>
            <% else %>
              <%=
              link_to(
                content_tag(
                  'i',
                  nil,
                  class: 'fa fa-power-off'
                  ) + " #{I18n.t('authentication.login')}",
                signin_path,
                escape: true
              )
              %>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="top-menu visible-phone visible-tablet">
        <ul class="pull-right">
          <li>
            <% if signed_in? %>
              <%= link_to signout_path, method: "delete", title: 'Logout', id: "signout-button" do %>
                <i class="fa fa-power-off"></i>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
