<% content_for :login do %>
  <div class="row-fluid">
    <div class="span12">
      	<div class="row-fluid">
			<%= yield %>
    	</div><!--/row-fluid-->
    <%= debug(params) if Rails.env.development? %>
    </div><!--/span10-->
  </div><!--/row-fluid-->
<% end %>
<%= render :template => 'layouts/admin' %>